<filepath="font.png" id="font" colfmt=2 />
<filepath="crouch.png" id="crouch" colfmt=4 />
<filepath="await.png" id="await" colfmt=4 />
<filepath="deadzone.png" id="deadzone" colfmt=4 />
<filepath="ledgeL.png" id="ledgel" colfmt=4 />
<filepath="ledgeR.png" id="ledger" colfmt=4 />
<filepath="movewait.png" id="movewait" colfmt=4 />
<filepath="controller.png" id="controller" colfmt=2 />
<filepath="p.png" id="p" colfmt=4 />