<filepath="font.png" id="font" colfmt=3 />
<filepath="crouch.png" id="crouch" colfmt=6 />
<filepath="await.png" id="await" colfmt=6 />
<filepath="deadzone.png" id="deadzone" colfmt=6 />
<filepath="ledgeL.png" id="ledgel" colfmt=6 />
<filepath="ledgeR.png" id="ledger" colfmt=6 />
<filepath="movewait.png" id="movewait" colfmt=6 />
<filepath="controller.png" id="controller" colfmt=6 />